/** 
* coworking.component.css 
* 
* The coworking page is the hub for students to reserve materials from
* the CSXL coworking space.
*
*/

#coworking {
  width: 100%;
  display: grid;
  grid-template-columns: 60% 30%;
}

#main {
  grid-column: 1/2;
}

#add-ons {
  grid-column: 2/3;
}

.reserve-room-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 16px;
  margin-bottom: 16px;
}

.reserve-room-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 16px;

  p {
    margin-bottom: 0px;
  }
}

#new-room-reservation-button {
  margin-left: auto;
  margin-right: 16px;
}

/* ghost mode toggle styling */

.mat-mdc-card-header {
  display: flex;
  justify-content: space-between;
  padding: 16px;
}

.hours-title {
  font-size: 16px;
  font-weight: 500;
  margin: 0;
  letter-spacing: 0.25px;
  line-height: 40px;
  text-decoration-color: rgba(0, 0, 0, 0.87);
  text-decoration-line: none;
  text-decoration-style: solid;
  text-decoration-thickness: auto;
  -webkit-font-smoothing: antialiased;
}

.badge {
  display: inline-block;
  border-radius: 20px;
  margin-right: 8px;
  height: 40px;
  width: fit-content;
  align-items: center;
  font-size: large;
  font-weight: 600 !important;
}

.mat-mdc-card {
  max-width: 640px;
  margin: 0;
}

.header-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 8px;
  width: 100%;
}

@media screen and (max-width: 1025px) {
  #coworking {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
  }
  
  #main {
    grid-column: 1/2;
  }
  
  #add-ons {
    grid-column: 1/2;
    display: flex;
    flex-direction: column-reverse;
  }
}