/* chat.component.css */

.chat-container {
    /* Pull variables from mdc themes */
    --chat-surface: var(--mdc-theme-surface);
    --chat-on-surface: var(--mdc-theme-on-surface);
    --chat-surface-high: var(--mdc-theme-surface-container-high);
    --chat-surface-highest: var(--mdc-theme-surface-container-highest);
    --chat-on-surface-variant: var(--mdc-theme-on-surface-variant);
    --chat-secondary: var(--mdc-theme-secondary-container);
    --chat-on-secondary: var(--mdc-theme-on-secondary-container);
  }
  
/*Adding dark mode preferences with further specifications that general system settings*/
@media (prefers-color-scheme: dark) {
    /* Overridng certain settings to add contrast to text box*/
.chat-container {
    --chat-surface: #121212;            
    --chat-surface-high: #333333;
    --chat-surface-highest: #2b2b2b;
    --chat-secondary: #444444;
}
}
  
.chat-container .title {
margin-block: 5px;
}

.chat-container .header {
display: flex;
justify-content: space-between;
width: 100%;
}

.chat-container .help-text {
padding: 10px;
border-radius: 10px;
background-color: var(--chat-surface-highest);
color:            var(--chat-on-surface-variant);
margin-top: 10px;
min-height: 220px;
}

.chat-container .message-box {
border-radius: 10px;
display: flex;
flex-direction: column;
min-height: 240px;
margin-top: 10px;
background-color: var(--chat-surface-high);
color:            var(--chat-on-surface);
/* hide scrollbars */
scrollbar-width: none;
-ms-overflow-style: none;
overflow: -webkit-hidden-scrollbar;
}

.chat-container .user-message {
padding: 5px 10px;
margin: 5px 5px 0;
border-radius: 10px;
justify-self: flex-end;
background-color: var(--chat-secondary);
color:            var(--chat-on-secondary);
width: fit-content;
}

.chat-container .ai-message {
padding: 5px 10px;
margin: 5px 5px 0;
border-radius: 10px;
justify-self: flex-start;
background-color: var(--chat-surface);
color:            var(--chat-on-surface);
width: fit-content;
}

.chat-container .text-input {
width: 100%;
padding-top: 10px;
background-color: var(--chat-surface);
color:            var(--chat-on-surface);
}
  