<mat-pane appearance="outlined">
    <!-- header -->
    <mat-card-header>
      <div class="header">
        <div class="title">
          <mat-card-title>Chat with ConnectXL</mat-card-title>
        </div>
        <button mat-icon-button (click)="infoClicked()"><mat-icon>info</mat-icon></button>
      </div>
  
      <!-- <mat-expansion-panel hideToggle class="no-shadow">
        <mat-expansion-panel-header>
          <mat-panel-title class="chat-title"> Chat with ConnectXL <mat-icon>info</mat-icon></mat-panel-title>
        </mat-expansion-panel-header>
        <h3>ConnectXL is an AI helper to assist with all of your coworking needs!</h3>
        <p>Need some conversation starters?</p>
        <p><i>"Make me a room reservation 2pm-3pm for 2 people"</i></p>
        <p><i>"Cancel my 2pm reservation"</i></p>
        <p><i>"Are any of my classmates in the XL?"</i></p>
        <p><i>"Is Kris Jordan in the XL?"</i></p>
      </mat-expansion-panel> -->
  
    </mat-card-header>
  
    <mat-card-content>
      <!-- box for messages -->
      @if (infoShow()) {
        <div class="help-text">
        <h3>ConnectXL is an AI helper to assist with all of your coworking needs!</h3>
        <p>Need some conversation starters?</p>
        <p><i>"Make me a room reservation 2pm-3pm for 2 people"</i></p>
        <p><i>"Cancel my 2pm reservation"</i></p>
        <p><i>"Are any of my classmates in the XL?"</i></p>
        <p><i>"Is Kris Jordan in the XL?"</i></p>
      </div>
      } @else {
        <cdk-virtual-scroll-viewport itemSize="50" class="message-box"> 
          <!-- documentation @ https://material.angular.io/cdk/scrolling/overview -->
          <div *cdkVirtualFor="let message of messageCache()">
            @if (message.type === 'UserMessage') { <!-- styled diff in block based on source -->
              <div class="user-message">{{message.content}}</div>
            } @else { <!-- implicitly message.type=aiMessage -->
              <div class="ai-message">{{message.content}}</div>
            }
          </div>
        </cdk-virtual-scroll-viewport>
      }
      
  
      <!-- text input -->
      <mat-form-field appearance="outline" class="text-input">
        <input matInput placeholder="Start typing here..." [formControl]="chatInput" (keydown.enter)="onChatInput()">
      </mat-form-field>
      
      <!--<button mat-stroked-button (click)="onChatInput()" [disabled]="!chat"><mat-icon matListItemIcon>arrow_forward</mat-icon></button>-->
  
    </mat-card-content>
  </mat-pane>